
.identForm {
    padding-top: 30px;
    display: block;
    width: 80%;
    height: 248px;
    max-width: 300px;
    min-width: 200px;
    margin: auto;
    text-align: left;
    background-color: #3f3f3f;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 15px #000, 2px 3px 8px #f00;

    &:hover{
        box-shadow: 0px 2px 5px #000, 2px 3px 8px #f00;
    }
}

input, textarea, select{
    display: block;
    margin: 5px auto;
    border-radius: 0.25rem;
}

.description{
    display: flex;
    justify-content: center;
    margin: 10px auto 0;
    color: #f0f3f5;
}

.btn{
    border: 1px solid #f00;
    margin: 15px 40%;
    padding: 8px;
    width: 30px;
    border-radius: 0.5rem;
    
    &:hover{ 
        cursor: pointer;
        background: #3f3f3f;
        box-shadow: 3px 4px 5px #f00;
        padding: 10px;
    }
}

