
.createForm {
    display: block;
    width: 80%;
    max-width: 300px;
    min-width: 200px;
    text-align: left;
    background-color: #3f3f3f;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 15px #000, 2px 3px 8px #f00;
    margin: 2rem auto;
    padding: 2rem;

    &:hover{
        box-shadow: 0px 2px 5px #000, 2px 3px 8px #f00;
    }
}

.titleH1{
    margin: 2rem 0 0 0;
    padding: 0;
}

input, textarea, select{
    display: block;
    margin: 5px auto;
    border-radius: 0.25rem;
    width: 90%;
    text-align: center;
}

textarea{
    height: 40px;
}

.title{
    display: flex;
    justify-content: center;
    margin: 10px auto 0;
    color: #f0f3f5;
}

.btn{
    display: flex;
    justify-content: center;
    border: 1px solid #f00;
    margin: 10px auto;
    padding: 8px;
    width: 30px;
    border-radius: 0.5rem;
    cursor: pointer;
    
    &:hover{ 
        box-shadow: 2px 1px 3px #f00;
    }
}
.divNavForm{
    display: flex;
    justify-content: center;
}
.divNavForm .link{
    display: flex;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    justify-content: center;
    transition: .5s;
    &:hover{
        color: #f00;
    }
}